<app-banner [banner]="'members'"></app-banner>
<app-breadcrumb [links]="['عن النقابة', 'أعضاء مجلس النقابة']"></app-breadcrumb>
<section class="py-4">
  <div class="container">
    <div class="row g-md-5 gy-4 justify-content-center">
      <div class="col-lg-3 col-md-6">
        <div class="widget">
          <a class="link" data-bs-toggle="modal" data-bs-target="#doctorDetails"></a>
          <div class="widget-img">
            <img src="{{ cards[0].img}}" alt="{{ cards[0].heading}}">
          </div>
          <div class="widget-content" [class.text-center]=" cards[0].isCenter">
            <div class="d-flex flex-column h-100 justify-content-between">
              <div class="p-3">
                <h5 [class.mb-0]="! cards[0].content" class="text-second">
                  {{ cards[0].heading}}
                </h5>
                <p *ngIf=" cards[0].content" [innerHTML]=" cards[0].content">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12"></div>
      <div class="col-lg-3 col-md-6 " *ngFor="let card of cards">
        <div class="widget">
          <a class="link" data-bs-toggle="modal" data-bs-target="#doctorDetails"></a>
          <div class="widget-img">
            <img src="{{card.img}}" alt="{{card.heading}}">
          </div>
          <div class="widget-content" [class.text-center]="card.isCenter">
            <div class="d-flex flex-column h-100 justify-content-between">
              <div class="p-3">
                <h5 class="text-second mb-2">
                  {{card.heading}}
                </h5>
                <p *ngIf="card.content" [innerHTML]="card.content">
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12">
        <app-pagination (PageIndexEvent)="openPage($event)" [pages]="10"></app-pagination>
      </div>
    </div>
  </div>
</section>


<app-sponsor-view></app-sponsor-view>

<div class="modal fade" id="doctorDetails" tabindex="-1" aria-labelledby="register" aria-hidden="true">
  <app-doctor-details></app-doctor-details>
</div>
