<section class="" [ngStyle]="{'background-image': 'url(assets/images/photos/slider1.png)'}">
  <div class="container">
    <div class="modal-box">
      <div class="">
        <h4 class="font-22 text-muted text-center mb-5">
          تفعيل الحساب
        </h4>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-4">
                <input type="text" class="form-control" placeholder="الإسم الرباعي">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <input type="email" class="form-control" placeholder="البريد الإلكتروني">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <input type="number" class="form-control" placeholder="الرقم النقابي">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <input type="password" class="form-control" placeholder="كلمة السر">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <input type="number" class="form-control" placeholder="رقم الهاتف المحمول">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <input type="password" class="form-control" placeholder="تأكيد كلمة السر">
              </div>
            </div>
            <div class="col-md-6 offset-md-3">
              <button class="custom-btn r w-100 main" type="button" data-bs-toggle="modal" data-bs-target="#confirm">
                إرسال
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
