section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px  ;
  .modal-box{
    background-color: #FFF;
    max-width: 950px;
    width: 100%;
    margin:  auto ;
    border: 10px solid #E3E3E3;
    padding: 100px 80px 70px;
  }
}

@media (max-width:779px) {
  section {
    padding: 40px 0  ;
    .modal-box{
      padding: 40px 20px 30px;
    }
  }
}
