<div class="widget">
  <a class="link" *ngIf="card.url" [routerLink]="[card.url]" routerLinkActive="router-link-active"></a>
  <div class="widget-img">
    <img src="{{card.img}}" alt="{{card.heading}}">
    <img class="icon-play" *ngIf="card.isMedia" src="assets/images/icons/play-circle.svg" alt="play-circle">
  </div>
  <div class="widget-content" [class.text-center]="card.isCenter">
    <div class="d-flex flex-column h-100 justify-content-between">
      <div class="p-3">
        <span class="d-block date mb-3" *ngIf="card.date && !card.isMedia">{{card.date}}</span>
        <h5 [class.text-second]="card.colored" [class.mb-0]="!card.content" *ngIf="card.heading">
          {{card.heading}}
        </h5>
        <p *ngIf="card.content" [innerHTML]="card.content">
        </p>
        <p class="price" *ngIf="card.price" [innerHTML]="card.price">
        </p>
        <span class="d-block date mt-3" *ngIf="card.date && card.isMedia">{{card.date}}</span>
      </div>
      <button class="custom-btn  r" [class.main]="card.btnColored" [class.gary]="!card.btnColored" *ngIf="card.btnText">
        {{card.btnText}}
      </button>
    </div>
  </div>
</div>
