<app-banner [banner]="'medical'"></app-banner>
<div class="container">
  <div class="d-lg-flex justify-content-between">
    <app-breadcrumb [links]="['إعلانات الأطباء']"></app-breadcrumb>
    <div class="filter d-md-flex flex-wrap">
      <div class="mb-4 mx-2">
        <select class="form-select">
          <option selected disabled>موقع العقار</option>
          <option>الإختيار 1</option>
          <option>الإختيار 2</option>
          <option>الإختيار 3</option>
        </select>
      </div>
      <div class="mb-4 mx-2">
        <select class="form-select">
          <option selected disabled>نوع العرض</option>
          <option>الإختيار 1</option>
          <option>الإختيار 2</option>
          <option>الإختيار 3</option>
        </select>
      </div>
      <div class="mb-4 mx-2">
        <select class="form-select">
          <option selected disabled>مساحة العقار</option>
          <option>الإختيار 1</option>
          <option>الإختيار 2</option>
          <option>الإختيار 3</option>
        </select>
      </div>
    </div>
  </div>
</div>
<section class="py-4">
  <div class="container">
    <div class="row g-md-5 gy-4">
      <div class="col-lg-4 col-md-6 " *ngFor="let card of cards">
        <div class="widget">
          <a class="link" data-bs-toggle="modal" data-bs-target="#medicalModal"></a>
          <div class="widget-img">
            <img src="{{card.img}}" alt="{{card.heading}}">
          </div>
          <div class="widget-content" [class.text-center]="card.isCenter">
            <div class="d-flex flex-column h-100 justify-content-between">
              <div class="p-3">
                <h5 [class.mb-0]="!card.content">
                  {{card.heading}}
                </h5>
                <p *ngIf="card.content" [innerHTML]="card.content">
                </p>
                <p class="price text-second font-18" *ngIf="card.price" [innerHTML]="card.price">
                </p>
              </div>
              <button class="custom-btn  r" [class.main]="card.btnColored" [class.gary]="!card.btnColored" *ngIf="card.btnText">
                {{card.btnText}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <app-pagination (PageIndexEvent)="openPage($event)" [pages]="10"></app-pagination>
      </div>
    </div>
  </div>
</section>


<app-sponsor-view></app-sponsor-view>



<div class="modal fade" id="medicalModal" tabindex="-1" aria-labelledby="medicalModal" aria-hidden="true">
  <app-medical-modal></app-medical-modal>
</div>
