<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let item of links; let last = last; let i = index" [class.active]="last"><a>{{item}}</a></li>
    </ol>
  </nav>
</div>
