<app-banner [banner]="'trips'"></app-banner>
<app-breadcrumb [links]="['اللجنة الإجتماعية', 'الرحلات', 'رحلة اليوم الواحد للعين السخنة']"></app-breadcrumb>

<section class="py-4 section-details">
  <div class="container">
    <div class="row g-md-5 gy-4 mb-5">
      <div class="col-lg-6 order-lg-1 order-2">
        <h4 class="text-second font-26 mb-2">
          رحلة اليوم الواحد للعين السخنة
        </h4>
        <span class="d-block date font-18 mb-3">
          20/11/2021
        </span>
        <p class="content">
          تفاصيل الرحلة : <br>
          8-9 صباحا التجمع في موقف الأوتوبيس <br>
          9 صباحا التحرك نحو العين السخنة <br>
          10 صباحا تقديم وجبة الإفطار في الأتوبيس <br>
          12 ظهرا التوقف في إستراحة في الطريق للراحة و الصلاة <br>
          12:20 معاودة التحرك نحو الوجهة <br>
          13:10 الوصول إلى وجهتنا <br>
          14:00 وجبة الغذاء في مطعم بيل فيو <br>
          15:00 التحرك لشاطئ الأوتيل <br>
          15:20 - 18:30 وقت حر على الشاطئ <br>
          18:30 شاي و قهوة و جاتو <br>
          19:00 جولة في سوق يا أهلا <br>
          21:00 التوجه إلى الاتوبيس للعودة إلى الموقف <br>
          21:30 تقديم وجبة العشاء في الأتوبيس <br>
          <br>
          <span class="text-second">
            تكلفة الإشتراك 400 جنية للبالغ و 300 جنيه للطفل
          </span>
        </p>
      </div>
      <div class="col-lg-6 order-lg-2 order-1">
        <div class="details-image">
          <swiper style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff" [loop]="true" [spaceBetween]="10" [navigation]="false" [thumbs]="{ swiper: thumbsSwiper }"
                  class="mySwiper2">
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          </swiper>
          <swiper (swiper)="thumbsSwiper = $event" [loop]="true" [spaceBetween]="10" [slidesPerView]="4" [freeMode]="true" [watchSlidesProgress]="true" class="mySwiper">
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          </swiper>
        </div>
      </div>
    </div>
    <div class="text-center mb-4">
      <button class="custom-btn r main px-5">
        إحجز مكانك
      </button>
    </div>
  </div>
</section>


<app-sponsor-view></app-sponsor-view>
