<app-banner [banner]="'trips'"></app-banner>
<app-breadcrumb [links]="['اللجنة الإجتماعية', 'الرحلات']"></app-breadcrumb>

<section class="py-4">
  <div class="container">
    <div class="row g-md-5 gy-4">
      <div class="col-lg-4 col-md-6 " *ngFor="let card of cards">
        <app-card [card]="card"></app-card>
      </div>
      <div class="col-12">
        <app-pagination (PageIndexEvent)="openPage($event)" [pages]="10"></app-pagination>
      </div>
    </div>
  </div>
</section>


<app-sponsor-view></app-sponsor-view>
