<nav aria-label="Page navigation ">
  <ul class="pagination justify-content-center">
    <li class="page-item" *ngFor="let item of pagesArray; let i = index" (click)="openPage(i)" [class.active]="i == pageIndex"><a class="page-link"></a></li>
  </ul>
</nav>
