<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header p-2 border-0">
      <a data-bs-dismiss="modal" aria-label="Close" class="cursor-pointer" #closeAddExpenseModal>
        <img src="assets/images/icons/close.svg" alt="close" width="30">
      </a>
    </div>
    <div class="modal-body">
      <div class="d-md-flex justify-content-between align-items-end mb-3">
        <div class="mb-3 mb-md-0">
          <p class="font-18">
            دكتور محمد احمد محمود
          </p>
          <h5 class="text-second font-32">
            أمين الصندوق المساعد
          </h5>
        </div>
        <div class="image">
          <img src="https://via.placeholder.com/300" alt="doctorName">
        </div>
      </div>
      <p class="font-18">
        أستاذ الجراحة التعويضية بجامعة القاهرة و زميل الرابطة العربية لإصابات الملاعب, مدير مستشفى حساب للعلاج التاهيلي و حاصل على الجائزة التقديرية من وزارة الشبابوالرياضة
        لمجهوداته في كأس الدور الإفريقية عام 2020. أستاذ الجراحة التعويضية بجامعة القاهرة و زميل الرابطة العربية لإصابات الملاعب, مدير مستشفى حساب للعلاج التاهيلي و حاصل على
        الجائزة التقديرية من وزارة الشباب .
      </p>
    </div>
  </div>
</div>
