<footer class="py-3">
  <div class="container-fluid">
    <div class="socail d-flex justify-content-center">
      <a class="cursor-pointer">
        <img src="assets/images/icons/logo-whatsapp.svg" alt="logo-whatsapp">
      </a>
      <a class="cursor-pointer">
        <img src="assets/images/icons/logo-twitter.svg" alt="logo-twitter">
      </a>
      <a class="cursor-pointer">
        <img src="assets/images/icons/logo-facebook.svg" alt="logo-facebook">
      </a>

      <a class="cursor-pointer">
        <img src="assets/images/icons/logo-instagram.svg" alt="logo-instagram">
      </a>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <ul>
          <li>
            <a class="cursor-pointer" [routerLink]="['/social/trips']">
              الرحلات
            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/']">
              الحفلات
            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/social/summer']">
              المصايف
            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/social/projects']">
              فرص تملك
            </a>
          </li>
        </ul>
      </div>
      <!-- /col -->

      <div class="col-lg-3 col-md-6">
        <ul>
          <li>
            <a class="cursor-pointer" [routerLink]="['/medical-science/courses']">
              الدورات
            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/medical-science/workshops']">
              ورش العمل
            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/medical-science/conference']">
              المؤتمرات

            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/about/doctors']">
              أعضاء مجلس النقابة
            </a>
          </li>
        </ul>
      </div>
      <!-- /col -->
      <div class="col-lg-3 col-md-6">
        <ul>
          <li>
            <a class="cursor-pointer" [routerLink]="['/services']">
              الخدمات
            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/medical']">
              إعلانات الاطباء
            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/']">
              اتصل بنا
            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/offers']">
              الخصومات و العروض
            </a>
          </li>
        </ul>
      </div>
      <!-- /col -->
      <div class="col-lg-3 col-md-6">
        <ul>
          <li>
            <a class="cursor-pointer" [routerLink]="['/']">
              أخبار النقابة
            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/social/media']">
              ميديا
            </a>
          </li>
          <li>
            <a class="cursor-pointer" [routerLink]="['/about/laws']">
              القوانين و اللوائح
            </a>
          </li>
        </ul>
      </div>
      <!-- /col -->
    </div>

    <div class="text-center copy-right">
      <p>2021 © All rights reserved.</p>
      <a href="" target="_blank">
        Designed and Developed by DAF.
      </a>
    </div>
  </div>
</footer>
