@import 'style';
footer{
  background-color: $main;
  .socail{
    a{
      margin: 0 20px;
      img{
        width: 40px;
      }
    }
  }
  ul{
    list-style: none;
    margin: 40px 0;
    li{
      a{
        color: #fff;
        text-decoration: none;
        margin-bottom: 5px;
        display: block;
        &:hover{
        text-decoration: underline;
        }
      }
    }
  }

  .copy-right{
    direction: ltr;
    p{
      color: #fff;
      font-size: 18px;
    }
    a{
      color: #2B60D2;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
