
.modal-dialog{
  width: 100%;
  max-width: 650px;
  .modal-content{
    border-radius: 15px;
    .image{
      width: 230px;
      height: 300px;
      border-radius: 8px;
      overflow: hidden;
      border:1px solid #707070;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      border-radius: 8px;

      }
    }
  }

}

p{
  color: #9C9A9A;
}
