<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header p-2 border-0">
      <a data-bs-dismiss="modal" aria-label="Close" class="cursor-pointer" #closeAddExpenseModal>
        <img src="assets/images/icons/close.svg" alt="close" width="30">
      </a>
    </div>
    <div class="modal-body">

      <div class="d-flex justify-content-between">

        <swiper style="width: 150px;" (swiper)="thumbsSwiper = $event" [direction]="'vertical'" [loop]="true" [spaceBetween]="10" [slidesPerView]="4" [freeMode]="true"
                [watchSlidesProgress]="true" class="mySwiper">
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
        </swiper>

        <swiper style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff; width: calc(100% - 169px);" class="swipe-1" [loop]="true" [spaceBetween]="10"
                [navigation]="false" [thumbs]="{ swiper: thumbsSwiper }" class="mySwiper2">
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
        </swiper>
      </div>



      <h5 class="text-main font-24 mb-2">
        عيادة للبيع
      </h5>
      <p class="font-12 color-muted mb-3">تاريخ عرض الإعلان : 16/11/2021</p>

      <p class="font-14 color-muted mb-4">
        الموقع : 24 ش مصطفى نجيب, الزمالك <br>
        المساحة : 74 متر مربع <br>
        التفاصيل : صالة إنتظار, غرفتين, حمام و زاوية مطبخ. <br>
        التشطيب : سوبر لوكس <br>
      </p>

      <p class="mb-3 text-second">
        السعر المطلوب 350 ألف جنيه كاش
      </p>
      <p>للتواصل : هاتف 0245670987, موبايل 01234567890</p>
    </div>
  </div>
</div>
