<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header p-2 border-0">
      <a data-bs-dismiss="modal" aria-label="Close" class="cursor-pointer" #closeAddExpenseModal>
        <img src="assets/images/icons/close.svg" alt="close">
      </a>
    </div>
    <div class="modal-body">
      <div class="py-sm-3 px-sm-5 m-sm-5 mt-sm-3 m-0 p-0">
        <h4 class="font-22 text-muted text-center mb-5">
          تسجيل دخول
        </h4>
        <form>
          <div class="mb-4">
            <input type="number" class="form-control" placeholder="الرقم النقابي">
          </div>
          <div class="mb-4">
            <input type="password" class="form-control" placeholder="كلمة السر">
          </div>

          <button class="custom-btn r w-100 main" type="button" data-bs-toggle="modal" data-bs-target="#confirm">
            دخول
          </button>

          <div class="d-flex justify-content-between mt-3">
            <a class="text-second cursor-pointer text-underline" data-bs-dismiss="modal" aria-label="Close" [routerLink]="['/account-active']">
              تفعيل الحساب
            </a>
            <a class="text-second cursor-pointer text-underline">
              نسيت كلمة السر
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
