<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header p-2 border-0">
      <a data-bs-dismiss="modal" aria-label="Close" class="cursor-pointer" #closeAddExpenseModal>
        <img src="assets/images/icons/close.svg" alt="close">
      </a>
    </div>
    <div class="modal-body">
      <div class="py-sm-3 px-sm-2 m-sm-5 mt-sm-3 m-0 p-0">
        <h4 class="font-22 text-muted text-center mb-5">
          تم التسجيل بنجاح
        </h4>
        <p class="mt-3 text-center text-muted">
          لقد تم إرسال رسالة تأكيد التسجيل إلى الرقم الذي وفرته في بيانات التسجيل
          <br>
          يرجى إتباع التعليمات لضمان حجز مقعدك لهذة الدورة المميزة
        </p>
      </div>
    </div>
  </div>
</div>
