<app-banner [banner]="'courses'"></app-banner>
<app-breadcrumb [links]="['اللجنة العلمية الطبية','الدورات','المهارات العلمية الحديثة في ادارة العيادات المدرسية الذكية']"></app-breadcrumb>

<section class="py-4 section-details">
  <div class="container">
    <div class="row g-md-5 gy-4 mb-5">
      <div class="col-lg-5 order-lg-1 order-2">
        <h4 class="text-second font-26 mb-2">
          المهارات العلمية الحديثة في ادارة العيادات المدرسية الذكية
        </h4>
        <span class="d-block date font-18 mb-3">
          20/11/2021
        </span>
        <p class="content">
          تنظم الجمعية المصرية لمنظار عنق الرحم اولي ورش العمل بهدف نقل الخبرة الطبية للأطباء ورفع الكفاءة الطبية والعلمية في مجال تشخيص وعلاج مرض سرطان عنق الرحم
          <br>
          هذا هو اول كورس طبي في مصر وافريقيا في هذا المجال معترف به من خلال الجمعية البريطانية لمنظار عنق الرحم و كذلك الجمعية المصرية و نقابة الاطباء و وزارة الصحة المصرية و كان
          مطابقا لكل المواصفات العالمية طبقا للجمعية البريطانية لمنظار عنق الرحم
          <br>
          ومشاركة الخبراء الأجانب
          <br> <br>
          تقام الورشة في مقر النقابة القاعة ج
          <br>
          تاريخ الورشة 20 نوفمبر 2021
          <br>
          موعد الورشة الساعة الثانية ظهرا
        </p>
      </div>
      <div class="col-lg-7 order-lg-2 order-1">
        <div class="details-image">
          <img src="https://via.placeholder.com/700/ccc/ccc" alt="heading" class="odd">
        </div>
      </div>
    </div>
    <div class=" mb-5">
      <div class=" mb-5">
        <h5 class="font-24">
          الحضور بأولوية الحجز
        </h5>
      </div>

      <div class="widget px-lg-5 px-3 no-hover py-4 ">
        <h5 class="text-main text-center font-26 mb-5">
          التسجيل في ورشة العمل
        </h5>
        <div class="row gx-lg-5 px-lg-5">
          <div class="col-lg-6">
            <div class="mb-4">
              <input type="text" class="form-control" placeholder="الإسم رباعى">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-4">
              <input type="email" class="form-control" placeholder="البريد الإلكتروني">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-4">
              <input type="number" class="form-control" placeholder="الرقم النقابي">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-4">
              <input type="number" class="form-control" placeholder="رقم الهاتف المحمول">
            </div>
          </div>
          <div class="col-12 text-center">
            <button class="custom-btn r main" disabled>
              سجل في الدورة
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-sponsor-view></app-sponsor-view>
