.custom-btn{
  box-shadow: 0px 3px 3px #00000033;
  border: unset;
  padding: 10px;
  min-width: 200px;
  cursor: pointer;
  &.r{
    border-radius: 5px;
    min-width: 200;
  }

  &.main{
  color: #FFF;
  background-color: $main;
  &:hover{
    color: #FFF;
    box-shadow: unset;
  }
  }
  &.gray,
  &:disabled{
  background-color: #E3E3E3;
  color: #403C3C;
  &:hover{
    color: #403C3C;
    box-shadow: unset;
  }
  }
}
