.widget{
  box-shadow: 0px 3px 6px #00000029;
  // margin-bottom: 20px;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  .widget-img{
    height: 260px;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    .icon-play{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: auto;
      width: auto;
    }
  }
  &:hover{
    box-shadow: 0 0px 1px #00000029;
    .widget-img{
      img{
        transform: scale(1.2);
      }
      .icon-play{
        transform: translate(-50%,-50%);
      }
    }
  }
  &.no-hover{
    &:hover{
      box-shadow: 0px 3px 6px #00000029;
    }
  }
  .widget-content{

    height: calc(100% - 260px);
    h5{
      margin-bottom: 20px;
      font-size: 18px;
      color: #050505;
    }
    p{
      font-size: 13px;
      color: #5E5C5C;
    }
    .custom-btn{
      margin-top: 20px;
      font-size: 13px;
      border-radius: 0 0 5px 5px;
    }
    .price{
      color: #3B9FA2;
      margin-top: 15px;
    }
  }

  a.link{
    position: absolute;
    inset: 0;
    cursor: pointer;
    z-index: 9;
  }
  .url-link{
    position: relative;
    z-index: 10;
  }
}
