a{
  text-decoration: none;
}

p{
  margin: 0;
  padding: 0;
}

.cursor-pointer{
  cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: unset;
}
.dropdown-item{
  img{
    margin-inline-start: 20px;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
//slider
.carousel-caption{
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(227 227 227 / 85%);
  text-align: unset;
}
.carousel-control-next, .carousel-control-prev{
  top: 100px;
  bottom: 100px;
  width: 7%;
}


// modal
.modal-content{
  border-radius: 0;
  border: 10px solid #E3E3E3;
}


//form-control
.form-control{
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #9C9A9A;
  text-align: right;
}
select.form-select{
  min-width: 250px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #9C9A9A;
  text-align: right;
}
@media (max-width:1200px) {
  select.form-select{
    min-width: 200px;

  }
}

// breadcrumb
.breadcrumb-item+.breadcrumb-item::before{
  content: '>';
}
.breadcrumb-item {
  a{
    color: #403C3C;
    font-size: 20px;

  }
  &.active{
      color: #403C3C;
      font-size: 20px;
  }
}


// pagination
.page-item{
  .page-link{
    border-color:#707070;
    width: 15px;
    height: 15px;
    border-radius: 50% !important;
    padding: 0;
    margin:  40px 5px 0;
    cursor: pointer;
  }
  &.active .page-link{
    border-color:#707070;
    background-color: #707070;
  }

}

// section-details
.section-details{
  .date{
    color: #9C9A9A;
  }
  .content{
      color: #767171;
  }
  h4{
    line-height: 1.8;
  }
  .details-image{
    .odd{
      max-height: 400px;
      width: 100%;
      object-fit: cover;
    }
  }
}



// swiper

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.mySwiper2 img{
  height: 400px;
}


.modal-body{
  .swiper-vertical > .swiper-wrapper{
    height: 312px;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin-bottom: 12px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 150px !important;

  }

  .swiper-slide img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  .mySwiper .swiper-slide{
    width: 100%;
  }
  .mySwiper{
    padding: 0;
  }
  .mySwiper2 {
    .swiper-slide{
      height: 308px !important;
    }
    img{
      width: 100% !important;
      height: 100%;
    }
  }
}

.home-swiper{
  &.swiper{
    height: auto !important;
    padding:  20px;
  }
}
