<app-banner [banner]="'members'"></app-banner>
<app-breadcrumb [links]="['عن النقابة', 'القوانين واللوائح']"></app-breadcrumb>
<section class="py-4 mb-5">
  <div class="container">
    <div class="row g-md-5 gy-4 justify-content-center">
      <div class="col-lg-4 col-md-6 " *ngFor="let card of cards">
        <div class="widget">
          <a class="link"></a>
          <div class="widget-img">
            <img src="{{card.img}}" alt="{{card.heading}}">
          </div>
          <div class="widget-content" [class.text-center]="card.isCenter">
            <div class="d-flex flex-column h-100 justify-content-between">
              <div class="p-3">
                <h5 class="mb-2">
                  {{card.heading}}
                </h5>
                <p *ngIf="card.content" [innerHTML]="card.content">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-sponsor-view></app-sponsor-view>
