<app-banner [banner]="'projects'"></app-banner>
<app-breadcrumb [links]="['اللجنة الإجتماعية', 'المشاريع','لجنة الإسكان تعلن عن وحدات سكنية للأطباءبحدائق أكتوبر']"></app-breadcrumb>

<section class="py-4 section-details">
  <div class="container">
    <div class="row g-md-5 gy-4 mb-5">
      <div class="col-lg-6 order-lg-1 order-2">
        <h4 class="text-second font-26 mb-2">
          لجنة الإسكان تعلن عن وحدات سكنية للأطباءبحدائق أكتوبر
        </h4>
        <span class="d-block date font-18 mb-3">
          20/11/2021
        </span>
        <p class="content">
          علن لجنة الإسكان بالنقابه العامه للأطباء عن بدء فتح باب الحجز بكمبوند
          "برايم افينيو" بحدائق أكتوبر خلف مدينة الإنتاج الإعلامي .
          مساحات 85 م و 160م و 170م بنظم سداد مختلفة
          واوضحت اللجنة شروط التقديم وهي كالتالي :
          <br>
          - ان يكون المتقدم مصري الجنسية<br>
          - ان لا يقل السن عن ٢٠ سنه ولا يزيد عن ٥٠ سنه وقت التعاقد<br>
          - ان لا يكون المتقدم هو او زوجته قد حصلا على شقه مدعمه من الدوله سواء<br>
          أكانت سكن اجتماعي او قومي او حصل على اي أرض من ابني بيتك او أي<br>
          من هذه الوحدات.<br>
          جميع تفاصيل الوحدات على الرابط التالي اضغط هنا<br>
          على جميع الأطباء الراغبين بالحجز التوجه إلى مقر لجنة إسكان بنقابة الأطباء<br>
          بمبنى اتحاد المهن الطبية أعلى نقابة<br>
          الصيادلة وبتسجيل أسمائهم بمقر اللجنه (الوحدات محدوده).<br>

          للحجز والاستعلام<br>
          01096833367<br>
          01141801121<br>
          01000021740<br>
          01554949799 واتساب<br>
        </p>
      </div>
      <div class="col-lg-6 order-lg-2 order-1">
        <div class="details-image">
          <swiper style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff" [loop]="true" [spaceBetween]="10" [navigation]="false" [thumbs]="{ swiper: thumbsSwiper }"
                  class="mySwiper2">
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          </swiper>
          <swiper (swiper)="thumbsSwiper = $event" [loop]="true" [spaceBetween]="10" [slidesPerView]="4" [freeMode]="true" [watchSlidesProgress]="true" class="mySwiper">
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</section>


<app-sponsor-view></app-sponsor-view>
