<app-banner [banner]="'summer'"></app-banner>
<app-breadcrumb [links]="['اللجنة الإجتماعية', 'المصايف','مصيف هلنان فلسطين 5  ليالي 6 أيام']"></app-breadcrumb>

<section class="py-4 section-details">
  <div class="container">
    <div class="row g-md-5 gy-4 mb-5">
      <div class="col-lg-6 order-lg-1 order-2">
        <h4 class="text-second font-26 mb-2">
          مصيف هلنان فلسطين 5 ليالي 6 أيام
        </h4>
        <span class="d-block date font-18 mb-3">
          20/11/2021
        </span>
        <p class="content">
          الرحلة الأولى : 20/5/2022 <br>
          الرحلة الثانية : 20/6/2022 <br>
          الرحلة الثالثة : 20/7/2022 <br>
          الغرف المتوفرة : فردية, إزدواجية و ثلاثية <br>
          مع إمكانية إضافة سرير إضافي و سرير رضيع مقابل 300 جم/الليلة <br>
          الإقامة مع الإفطار و العشاء <br>
          السعر يشمل الإنتقال من و إلى الأسكندرية <br>
          الرحلات اليومية من الفندق إختيارية و بتكلفة إضافية. <br>
          <br>
          عن الفندق : هلنان فلسطين فندق 5 نجوم <br>
          موقعه في المنتزة بالأسكندرية على شاطئ البحر مباشرة <br>
          الفندق لديه شاطئ خاص و حمام سباحة خارجي كبير و 4 مطاعم <br>
          <br>

          <span class="text-second">

            تكلفة الإشتراك للفرد :<br>
            <br>
            في الغرفة الفردية 7000 جم <br>
            في الغرفة المزدوجة 6000 جم<br>
            في الغرفة الثلاثية 5000 جم<br>
            الأطفال من سن 0-6 سنوات مجانا<br>
            الأطفال من سن 6-12 بنصف السعر<br>
          </span>
        </p>
      </div>
      <div class="col-lg-6 order-lg-2 order-1">
        <div class="details-image">
          <swiper style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff" [loop]="true" [spaceBetween]="10" [navigation]="false" [thumbs]="{ swiper: thumbsSwiper }"
                  class="mySwiper2">
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          </swiper>
          <swiper (swiper)="thumbsSwiper = $event" [loop]="true" [spaceBetween]="10" [slidesPerView]="4" [freeMode]="true" [watchSlidesProgress]="true" class="mySwiper">
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
            <ng-template swiperSlide><img src="https://via.placeholder.com/500" /></ng-template>
          </swiper>
        </div>
      </div>
    </div>
    <div class="text-center mb-4">
      <button class="custom-btn r main px-5">
        إحجز مكانك
      </button>
    </div>
  </div>
</section>


<app-sponsor-view></app-sponsor-view>
