/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.rtl.min.css";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");
@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/navigation";
@import "~swiper/css/thumbs";

body {
  font-family: "Cairo", sans-serif;
  // overflow-x: hidden !important;
}

html[dir="ltr"] {
  .logo {
    position: absolute;
    left: 0;
    right: unset;
  }
  app-offers {
    .icon-play {
      right: unset;
      left: 0 !important;
      transform: rotateY(180deg) !important;
    }

    .widget {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 5px !important;
    }
  }
}

@media (min-width: 768px) {
  .g-md-5,
  .gx-md-5 {
    --bs-gutter-x: 5rem;
  }
}
