<app-banner [banner]="'media'"></app-banner>
<app-breadcrumb [links]="['اللجنة الإجتماعية', 'الميديا', 'الوقاية من الفيروس المستجد وكيفية تجنب العدوى']"></app-breadcrumb>

<section class="my-5">
  <div class="container">
    <video height="600" class="w-100" controls preload="none" poster='assets/images/photos/photo1.png' data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
      <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
    </video>

    <h4 class="text-second mb-4  font-32">
      الوقاية من الفيروس المستجد وكيفية تجنب العدوى
    </h4>

    <p class="text-white pb-5 font-24">
      12/08/2021
    </p>
  </div>
  <!-- /container -->
</section>
<app-sponsor-view></app-sponsor-view>
