@import "style";
.logo {
  position: absolute;
  right: 0;
  // background-color: #fff;
  // padding: 5px 10px;
  // box-shadow: 0px 3px 6px #00000029;
  // border: 3px solid #e3e3e3;
  z-index: 1021;
  img {
    width: 140px;
  }
}
.gradient{
  background: linear-gradient(0, $main 59px, #e3e3e3 58px);
}
.navbar-wrapper {
  position: relative;
  padding-inline-start: 180px;

  .nav-top {
    background-color: #e3e3e3;
    position: relative;
    &:after {
      // content: "";
      position: absolute;
      top: 0;
      height: 100%;
      background-color: #e3e3e3;
      width: 2000%;
      right: -1000%;
      z-index: -1;
    }
    p {
      color: $text;
      font-size: 34px;
      font-weight: 600;
    }
    img {
      margin-inline-end: 1.65rem;
    }
    a {
      // margin-inline-start: 1.4rem;
      color: $text;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .nav-menu {
    background-color: $main;
    position: relative;
    &:after {
      // content: "";
      position: absolute;
      top: 0;
      height: 100%;
      background-color: $main;
      width: 2000%;
      right: -1000%;
      z-index: -1;
    }
    ul {
      li {
        position: relative;
        margin-inline-end: 20px;
        a {
          color: #fff;
          opacity: 0.9;
          font-size: 18px;

          &.active,
          &:hover {
            opacity: 1;
          }
        }
        .dropdown-menu {
          a {
            color: $text;
          }
        }
        .dropdown-menu[data-bs-popper] {
          top: calc(100% + 6px);
          border-radius: 0;
        }
      }
    }
    .navbar-toggler {
      border-color: #fff;
      margin: 9px 0;
      &:focus {
        box-shadow: 0 0 4px 0rem #fff;
      }
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
      }
    }
  }
}
.navbar-nav > li{
  &:first-child{
    a {
      padding-inline-start: 0 !important;
    }
  }
  &:last-child{
    a {
      padding-inline-end: 0 !important;
    }
  }
}
@media (max-width: 1400px) {
  .gradient{
    background:linear-gradient(0, #3B9FA2 54.5px, #e3e3e3 54px);
  }
  .navbar-wrapper {
    .nav-top {
      p {
        font-size: 30px;
      }
    }
    .nav-menu {
      ul {
        li {
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
  .logo img {
    width: 129px;
  }
}
@media (max-width: 1200px) {
  .gradient{
    background: linear-gradient(0, #3B9FA2 53px, #e3e3e3 53px);
  }
  .navbar-wrapper {
    .nav-top {
      p {
        font-size: 26px;
      }
    }
    .nav-menu {
      ul {
        li {
          margin-inline-end: 10px;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
  .logo img {
    width: 123px;
  }
}

@media (max-width: 992px) {
  .gradient{
    background: linear-gradient(0, #3B9FA2 56px, #e3e3e3 56px);
  }
  .navbar-wrapper {
    padding-inline-start: 150px;
    .nav-top {
      p {
        font-size: 15px;
      }
      img {
        width: 14px;
        margin-inline-end: 1rem;
      }
      a{
        font-size: 13px !important;
      }
    }
    .nav-menu{
      .navbar-toggler{
        margin: 0;
      }
      #navbarNav{

        position: fixed;
        background: #3b9fa2;
        width: 100%;
        left: 0;
        top: 110px;
        padding: 0 20px;

      }
    }
  }
  .logo img {
    width: 108px;
  }
}
@media (max-width: 404px) {
  .navbar-wrapper {
    padding-inline-start: 125px;
    .nav-top {
      p {
        font-size: 12px;
      }
      img {
        width: 14px;
        margin-inline-end: 5px;
      }
  }
}
  .logo img {
    width: 103px;
  }
}
