<div class="gradient">
  <div class="container">
    <div class="navbar-wrapper">
      <a class="logo" [routerLink]="['/']">
        <img src="assets/images/icons/logo.svg" alt="نقابة أطباء القاهرة">
      </a>
      <div class="nav-top py-3">
        <div class="d-flex justify-content-between align-items-center">
          <p class="tagline">
            {{'tagline' | translate}}
          </p>
          <div>
            <div class="d-flex">
              <img src="assets/images/icons/search.svg" alt="search" class="cursor-pointer">
              <img src="assets/images/icons/user.svg" alt="search" data-bs-toggle="modal" data-bs-target="#register" class="cursor-pointer">
              <a class="font-20">{{'lang' | translate}}</a>
              <!--(click)="changeLanguage()"-->
            </div>
          </div>
        </div>
      </div>
      <div class="sticky-top">
        <div class="nav-menu">
          <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid p-0">
              <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                      aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">{{'home' | translate}}</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/social']" routerLinkActive="active" id="dropdownMenuButton1" data-bs-toggle="dropdown">اللجنة الإجتماعية</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer my-2" [routerLink]="['/social/trips']">
                          الرحلات
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer my-2" [routerLink]="['/social/summer']">
                          المصايف
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer my-2" [routerLink]="['/social/projects']">
                          المشاريع
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer my-2" [routerLink]="['/social/media']">
                          الميديا
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer ">
                          اتصل بنا
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>

                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/medical-science']" routerLinkActive="active" id="dropdownMenuButton2" data-bs-toggle="dropdown">اللجنة العلمية الطبية</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer my-2" [routerLink]="['/medical-science/courses']">
                          الدورات
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer my-2" [routerLink]="['/medical-science/workshops']">
                          ورش العمل
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer my-2" [routerLink]="['/medical-science/conference']">
                          المؤتمرات
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer ">
                          اتصل بنا
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/services']" routerLinkActive="active">الخدمات</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active" id="dropdownMenuButton3" data-bs-toggle="dropdown">عن النقابة</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer my-2" [routerLink]="['/about/doctors']">
                          مجلس النقابة
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer my-2" [routerLink]="['/about/laws']">
                          القوانين و اللوائح
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer my-2">
                          مواعيد العمل
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                      <li class="px-0 m-0">
                        <a class="dropdown-item d-flex justify-content-between cursor-pointer ">
                          اتصل بنا
                          <img src="assets/images/icons/right-arrow.svg">
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/medical']" routerLinkActive="active">إعلانات الأطباء</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/offers']" routerLinkActive="active">خصومات و عروض</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="register" tabindex="-1" aria-labelledby="register" aria-hidden="true">
  <app-login></app-login>
</div>
<!-- Modal -->
<div class="modal fade" id="confirm" tabindex="-1" aria-labelledby="confirm" aria-hidden="true">
  <app-confirm></app-confirm>
</div>
