.carousel-caption {
  h3 {
    color: #010101;
  }
  .feeds {
  }
}
.col{
  margin-bottom: 15px;
  max-width: 300px;
}

#carouselExampleCaptions2,
#carouselExampleCaptions3{
  .carousel-caption{
    background-color: transparent;
    bottom: 50%;
    transform: translateY(50%);
    p{
      color: #000000;
    }
  }
}
#carouselExampleCaptions3{
  .image{
    position: relative;
    .icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
#carouselExampleCaptions2{
 .bg-img img{
   max-width: 350px;
   width: 100%;
   margin: auto;
   display: block;
 }
}
#carouselExampleCaptions3{
  .img {
    // max-width: 350px;
    width: 100%;
    margin: auto;
    display: block;
  }
 }
.sponsor-slider{
  background-color: #E3E3E3;
  img{
    width: 80px;
    background: #FFF;
    border-radius: 50%;
    height: 80px
  }
}
.slider-img{
  min-height: 350px;
  object-fit: cover;
}
.bg-img{
  background:linear-gradient(45deg , #A7A5A6,#E3E3E3) ;
}

@media (max-width: 776px) {
  .carousel-caption {
    h3 {
      color: #010101;

    }
    .feeds {
      text-align: center;
    }
  }
}
