<section class="slider">
  <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/photos/slider1.png" class="d-block w-100 slider-img" alt="...">
        <div class="carousel-caption ">
          <div class="container">
            <div class="d-md-flex justify-content-between align-items-center feeds">
              <div class="me-2">
                <h3 class="font-18">
                  نقيب الأطباء : قانون المسئولية الطبية يوفر بيئة عمل أمنة لمقدمي الخدمة .
                </h3>
                <p class="text-second">8
                  الأربعاء 03 نوفمبر 2021 12:9 م
                </p>
              </div>
              <button class="custom-btn main r mt-2 mt-md-0">
                {{'read_more' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/photos/slider1.png" class="d-block w-100 slider-img" alt="...">
        <div class="carousel-caption ">
          <div class="container">
            <div class="d-md-flex justify-content-between align-items-center feeds">
              <div class="me-2">
                <h3 class="font-18">
                  نقيب الأطباء : قانون المسئولية الطبية يوفر بيئة عمل أمنة لمقدمي الخدمة .
                </h3>
                <p class="text-second">8
                  الأربعاء 03 نوفمبر 2021 12:9 م
                </p>
              </div>
              <button class="custom-btn main r mt-2 mt-md-0">
                {{'read_more' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/photos/slider1.png" class="d-block w-100 slider-img" alt="...">
        <div class="carousel-caption ">
          <div class="container">
            <div class="d-md-flex justify-content-between align-items-center feeds">
              <div class="me-2">
                <h3 class="font-18">
                  نقيب الأطباء : قانون المسئولية الطبية يوفر بيئة عمل أمنة لمقدمي الخدمة .
                </h3>
                <p class="text-second">8
                  الأربعاء 03 نوفمبر 2021 12:9 م
                </p>
              </div>
              <button class="custom-btn main r mt-2 mt-md-0 ">
                {{'read_more' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class=" carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <img src="assets/images/icons/arrow-right.svg" alt="Previous" width="30">
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <img src="assets/images/icons/arrow-left.svg" alt="next" width="30">
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="py-5 my-5 wow fadeInUp" data-wow-delay="0.2s">
  <div class="container">
    <!-- <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let item of cards">
        <app-card [card]="item">
        </app-card>
      </ng-template>
    </owl-carousel-o> -->

    <div class="row justify-content-center">
      <swiper [config]="config" class="home-swiper">

        <ng-template swiperSlide *ngFor="let item of cards">
          <app-card [card]="item">
          </app-card>
        </ng-template>
      </swiper>

      <!-- <div class="col" *ngFor="let item of cards">
        <app-card [card]="item">
        </app-card>
      </div> -->
    </div>
  </div>
  <!-- /container -->
</section>

<section class="section-slider wow fadeInUp" data-wow-delay="0.2s">
  <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active ">
        <div class=" h-100 p-0  bg-img">
          <div class="container  h-100 ">
            <div class="row h-100">
              <div class="col-lg-8 align-self-center py-3">
                <p class="mb-2">دكتور محمد احمد محمود</p>
                <h4 class="text-second mb-4">أمين الصندوق المساعد</h4>
                <p class="content">
                  أستاذ الجراحة التعويضية بجامعة القاهرة و زميل الرابطة العربية لإصابات الملاعب, مدير مستشفى حساب للعلاج التاهيلي و حاصل على الجائزة التقديرية من وزارة
                  الشبابوالرياضة لمجهوداته في كأس الدور الإفريقية عام 2020. أستاذ الجراحة التعويضية بجامعة القاهرة و زميل الرابطة العربية لإصابات الملاعب, مدير مستشفى حساب للعلاج
                  التاهيلي و حاصل على الجائزة التقديرية من وزارة الشباب .
                </p>
                <button class="custom-btn main r mt-5 px-5 ">
                  تعرف على مجلس النقابة
                </button>
              </div>
              <div class=" col-lg-4 align-self-end pt-5">
                <img src="assets/images/photos/doctor.png" alt="doctor-photo">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item  ">
        <div class=" h-100 p-0  bg-img">
          <div class="container  h-100">
            <div class="row h-100">
              <div class="col-lg-8 align-self-center py-3">
                <p class="mb-2">دكتور محمد احمد محمود</p>
                <h4 class="text-second mb-4">أمين الصندوق المساعد</h4>
                <p class="content">
                  أستاذ الجراحة التعويضية بجامعة القاهرة و زميل الرابطة العربية لإصابات الملاعب, مدير مستشفى حساب للعلاج التاهيلي و حاصل على الجائزة التقديرية من وزارة
                  الشبابوالرياضة لمجهوداته في كأس الدور الإفريقية عام 2020. أستاذ الجراحة التعويضية بجامعة القاهرة و زميل الرابطة العربية لإصابات الملاعب, مدير مستشفى حساب للعلاج
                  التاهيلي و حاصل على الجائزة التقديرية من وزارة الشباب .
                </p>
                <button class="custom-btn main r mt-5 px-5 ">
                  تعرف على مجلس النقابة
                </button>
              </div>
              <div class=" col-lg-4 align-self-end pt-5">
                <img src="assets/images/photos/doctor.png" alt="doctor-photo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
      <img src="assets/images/icons/arrow-right.svg" alt="Previous" width="30">
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
      <img src="assets/images/icons/arrow-left.svg" alt="next" width="30">
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>


<section class="doctor-interest py-5 wow fadeInUp" data-wow-delay="0.2s">
  <div class="container">
    <h3 class="text-second mb-3">
      إعلانات الأطباء
    </h3>
    <div class="row justify-content-center">
      <swiper [config]="config" class="home-swiper">

        <ng-template swiperSlide *ngFor="let item of interests">
          <app-card [card]="item">
          </app-card>
        </ng-template>
      </swiper>

      <!-- <div class="col" *ngFor="let item of interests">
        <app-card [card]="item">
        </app-card>
      </div> -->
    </div>
    <!-- <div class="text-center mt-5 mb-3">
      <a class="custom-btn main r px-5">
        عرض كل الإعلانات
      </a>
    </div> -->
  </div>
  <!-- /container -->
</section>


<section class="section-slider wow fadeInUp" data-wow-delay="0.2s">
  <div id="carouselExampleCaptions3" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active ">
        <div class=" bg-img">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 align-self-center py-3">
                <h4 class="text-second mb-4">الوقايه من الفيروس المستجد وكيفيه تجنب العدوي</h4>
                <p class="mb-2 text-muted">12/01/2021</p>
                <p class="content text-muted">
                  أنتاج خاص تغطية وثائقية للأحداث و الوقائع لما كان و قد يكون عن الأوبئة في مثل هدة الأونة و حيث تتصدر أخبار وباء الكرونا <br>إهتمامات كل من هب و دب فإنه يتعين
                  علينا فهم ما حدث و ماكان يا مكان من زمان بخصوص الوباء وتعريفه و الطرقالتي أدت إلى القضاء عليه فيما سبق.
                </p>
                <button class="custom-btn main r mt-5 px-5">
                  مشاهدة قائمة الميديا
                </button>
              </div>
              <div class="col-lg-6">
                <div class="image py-5 cursor-pointer">
                  <img src="assets/images/photos/photo1.png" alt="doctor-photo" class="img ">
                  <img src="assets/images/icons/play-circle.svg" alt="play" class="icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item  ">
        <div class=" bg-img">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 align-self-center py-3">
                <h4 class="text-second mb-4">الوقايه من الفيروس المستجد وكيفيه تجنب العدوي</h4>
                <p class="mb-2 text-muted">12/01/2021</p>
                <p class="content text-muted">
                  أنتاج خاص تغطية وثائقية للأحداث و الوقائع لما كان و قد يكون عن الأوبئة في مثل هدة الأونة و حيث تتصدر أخبار وباء الكرونا <br>إهتمامات كل من هب و دب فإنه يتعين
                  علينا فهم ما حدث و ماكان يا مكان من زمان بخصوص الوباء وتعريفه و الطرقالتي أدت إلى القضاء عليه فيما سبق.
                </p>
                <button class="custom-btn main r mt-5 px-5">
                  مشاهدة قائمة الميديا
                </button>
              </div>
              <div class="col-lg-6">
                <div class="image py-5 cursor-pointer">
                  <img src="assets/images/photos/photo1.png" alt="doctor-photo" class="img">
                  <img src="assets/images/icons/play-circle.svg" alt="play" class="icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="prev">
      <img src="assets/images/icons/arrow-right.svg" alt="Previous" width="30">
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="next">
      <img src="assets/images/icons/arrow-left.svg" alt="next" width="30">
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>


<section class="py-5 my-5 wow fadeInUp" data-wow-delay="0.2s">
  <div class="container">
    <!-- <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let item of cards">
        <app-card [card]="item">
        </app-card>
      </ng-template>
    </owl-carousel-o> -->


    <swiper [config]="config" class="home-swiper">

      <ng-template swiperSlide *ngFor="let item of cards">
        <app-card [card]="item">
        </app-card>
      </ng-template>
    </swiper>

    <!-- <div class="row justify-content-center">
      <div class="col" *ngFor="let item of cards">
        <app-card [card]="item">
        </app-card>
      </div>
    </div> -->
  </div>
  <!-- /container -->
</section>

<app-sponsor-view class="wow fadeInUp" data-wow-delay="0.2s"></app-sponsor-view>

<section class="sponsor wow fadeInUp" data-wow-delay="0.2s">
  <p class="text-center pb-3">الرعاة و الشركاء</p>
  <div class="sponsor-slider py-4">
    <div class="container">
      <owl-carousel-o [options]="sponserOptions">
        <ng-template carouselSlide *ngFor="let item of sponsors">
          <img src="{{item}}" alt="sposer-name">
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
