<app-banner [banner]="'offers'"></app-banner>
<app-breadcrumb [links]="['خصومات و عروض']"></app-breadcrumb>

<section class="py-4">
  <div class="container">
    <div class="row g-md-5 gy-4">
      <div class="col-lg-4 col-md-6 " *ngFor="let card of cards">
        <div class="widget">
          <a class="link" *ngIf="card.url"></a>
          <div class="widget-img">
            <img src="{{card.img}}" alt="{{card.heading}}">
            <img class="icon-play" src="assets/images/icons/offer.svg" alt="offer">

          </div>
          <div class="widget-content" [class.text-center]="card.isCenter">
            <div class="d-flex flex-column h-100 justify-content-between">
              <div class="p-3">
                <h5 [class.mb-0]="!card.content">
                  {{card.heading}}
                </h5>
                <p *ngIf="card.content" [innerHTML]="card.content">
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12">
        <app-pagination (PageIndexEvent)="openPage($event)" [pages]="10"></app-pagination>
      </div>
    </div>
  </div>
</section>


<app-sponsor-view></app-sponsor-view>
